div.quiv-stacksheffield-tableoptions label {
    padding: 5px;
}

table.quiv-stacksheffield-chaintable {
    width: auto;
    border-collapse : separate;
}

table.quiv-stacksheffield-chaintable td {
    background-color: #EEEEEE;
    border : 1px solid #666666;
    min-width: 150px;
    min-height: 20px;
}

table.quiv-stacksheffield-chaintable td.empty {
    background-color: #FFFFFF;
    border : none;
}

div.quiv-stacksheffield-chaintreenode {
    width : 150px;
    height : 80px;
    background-color: #EEE;
    border: 1px solid #666;
    padding: 4px;
}
