<div class="d-flex flex-wrap quiz-stacksheffield-options">
    <input type="hidden" name="id" value="{{cmid}}"/>
    <input type="hidden" name="questionid" value="{{question_id}}"/>
    <input type="hidden" name="mode" value="stacksheffield"/>
    <span>Split by:</span>
    <span>
      <label data-fieldtype="checkbox" class="fitem" style="padding:5px;">
        <input id="splitbymark" name="splitbymark"
          type="checkbox" {{#splitbymark}}checked{{/splitbymark}}
          onclick="document.optionsform.submit()"/>
          Mark
      </label>
    </span>
    <span>
      <label data-fieldtype="checkbox" class="fitem" style="padding:5px;">
        <input id="splitbyanswernote" name="splitbyanswernote"
          type="checkbox" {{#splitbyanswernote}}checked{{/splitbyanswernote}}
          onclick="document.optionsform.submit()"/>
          Answer note
      </label>
    </span>
    <span>
      <label data-fieldtype="checkbox" class="fitem" style="padding:5px;">
        <input id="splitbyanswer" name="splitbyanswer"
          type="checkbox" {{#splitbyanswer}}checked{{/splitbyanswer}}
          onclick="document.optionsform.submit()"/>
          Answer
      </label>
    </span>
    <span style="margin-left:10px;">Order by:</span>
    <span>
      <label data-fieldtype="checkbox" class="fitem" style="padding:5px;">
        <input id="orderbyfreq" value="orderbyfreq" name="roworder" 
          type="radio" {{#orderbyfreq}}checked{{/orderbyfreq}}
          onclick="document.optionsform.submit()"/>
          Frequency
      </label>
    </span>
    <span>
      <label data-fieldtype="checkbox" class="fitem" style="padding:5px;">
        <input id="orderbymark" value="orderbymark" name="roworder" 
          type="radio" {{#orderbymark}}checked{{/orderbymark}}
          onclick="document.optionsform.submit()"/>
          Mark, note, answer
      </label>
    </span>
    <span style="margin-left:20px">Include attempts:</span>
    <span>
      <label data-fieldtype="radio" class="fitem" style="padding:5px;">
        <input id="include_all" name="include" value="all"
          type="radio" {{#include_all}}checked{{/include_all}}
          onclick="document.optionsform.submit()"/>
          All
      </label>
    </span>
    <span>
      <label data-fieldtype="radio" class="fitem" style="padding:5px;">
        <input id="include_initial" name="include" value="initial"
          type="radio" {{#include_initial}}checked{{/include_initial}}
          onclick="document.optionsform.submit()"/>
          Initial
      </label>
    </span>
    <span>
      <label data-fieldtype="radio" class="fitem" style="padding:5px;">
        <input id="include_final" name="include" value="final"
          type="radio" {{#include_final}}checked{{/include_final}}
          onclick="document.optionsform.submit()"/>
          Final
      </label>
    </span>
</div>